.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: auto;

    gap: 15px;
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;

    gap: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;

  background-color: $color-main-light;
  border-radius: 50%;

  transition: color 0.3s ease, background-color 0.3s ease;

  fill: $color-background-footer;

  &:hover {
    background-color: $color-elements-accent;

    fill: $color-main-light;
  }

  &:focus,
  &:focus-visible {
    background-color: $color-basic-accent;
    outline: none;

    fill: $color-main-light;
  }

  &:active {
    background-color: $color-main-dark;

    fill: $color-main-light;
  }

  &:disabled,
  &--disabled {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.social__link svg {
  width: 25px;
  height: 25px;
}
